{{define "filelist"}}
    {{$repo := .Repo}}
    <table>
    {{range .Entries}}
        <tr><td>{{if is_file .}}<a href="{{tree_entry_path $repo nil .}}">{{.Name}}</a>
            {{else}}<a href="{{tree_entry_path $repo nil .}}"><b>{{.Name}}/</b></a>{{end}}</td></tr>
    {{end}}
    </table>

    {{if .README}}
        {{.README | markdown}}
    {{end}}
{{end}}
