{{define "filelist"}}
    {{$repo := .Repo}}
    <table>
    {{range .Entries}}
        <tr><td><a href="{{path $repo .}}">{{.Name}}</a></td></tr>
    {{end}}
    </table>

    {{if .README}}
        {{.README | markdown}}
    {{end}}
{{end}}
