{{define "file"}}
    <a href="{{blame_path .Repo .Blob}}">Blame</a>
    <a href="{{blob_path .Repo .Blob}}">File</a>
    {{render_blob .Blob}}
{{end}}

{{define "blame"}}
    <a href="{{blame_path .Repo .Blame.Blob}}">Blame</a>
    <a href="{{blob_path .Repo .Blame.Blob}}">File</a>
    {{render_blame .Blame}}
{{end}}
