<html class="max-width-4 mx-auto mb4">
    <head>
        <link rel="stylesheet" href="/a/style.css">
    </head>
    <body>
        {{template "nav" .}}
        <section>
        {{yield}}
        </section>
    </body>
</html>
