<html class="max-width-4 mx-auto mb4">
    <head>
        <link rel="stylesheet" href="/a/style.css">
        <script src="/a/svg.js"></script>
        <script src="/a/underscore.js"></script>
        <script src="/a/jquery.js"></script>
    </head>
    <body>
        {{template "nav" .}}
        <section>
        {{yield}}
        </section>
    </body>
</html>
