{{define "log"}}
    <p>{{s_ify "commit" (len .Commits)}}</p>
    <table>
    {{range .Commits}}
        <tr><td><a href="{{.}}">{{.Message}}</a></td><td>{{.Author}}</td><td>{{.Date | humanizeTime}}</td></tr>
    {{end}}
    </table>
{{end}}
