{{define "log"}}
    {{$repo := .Repo}}
    <p>{{s_ify "commit" (len .Commits)}}</p>
    {{render_commit_graph $repo}}
    <table class="commit-log">
    {{range .Commits}}
        <tr><td><a href="{{commit_path $repo .}}">{{.Message}}</a></td><td><a href="{{user_path .User}}">{{.User.Name}}</a></td><td>{{.Date | humanizeTime}}</td></tr>
    {{end}}
    </table>
{{end}}
