{{define "nav"}}
<header>
    <section>
        <nav>
            <h3><a href="{{path .Repo}}/">{{.Repo.Name}}</a></h3>
            <a href="{{path .Repo}}/">Files</a>
            <a href="{{path .Repo}}/commits/">Log</a>
            <a href="{{path .Repo}}/refs/">Branches</a>
        </nav>
    </section>
</header>
<section>
<p>{{.Repo.Description}}</p>
</section>
{{end}}
