{{define "nav"}}
<header>
    <section>
        <nav>
            {{if .Repo}}
                <h3><a href="{{repo_path .Repo}}/">{{.Repo.Name}}</a></h3>
                <a href="{{repo_path .Repo}}/">Files</a>
                <a href="{{repo_path .Repo}}/commits/">Log</a>
                <a href="{{repo_path .Repo}}/refs/">Branches</a>
            {{else}}
                <h3><a href="/">Repos</a></h3>
            {{end}}
        </nav>
    </section>
</header>
<section>
{{if .Repo}}
<p>{{.Repo.Description}}</p>
{{else}}
<p></p>
{{end}}
</section>
{{end}}
