{{define "nav"}}
<header>
    <h1>{{.Repo.Name}}</h1>
    <p>{{.Repo.Description}}</p>
    <nav>
        <a href="{{path .Repo}}/">Files</a>
        <a href="{{path .Repo}}/commits/">Log</a>
        <a href="{{path .Repo}}/refs/">Branches</a>
    </nav>
</header>
{{end}}
