{{define "nav"}}
<header>
    <h1>{{.Meta.Name}}</h1>
    <p>{{.Meta.Description}}</p>
    <nav>
        <a href="{{.Meta.URL}}/">Files</a>
        <a href="{{.Meta.URL}}/log/">Log</a>
    </nav>
</header>
{{end}}
